body {
    font-family: 'Geneva', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Geneva', sans-serif;
    font-weight: 700;
}

p, span, a, li, button {
    font-family: 'Geneva', sans-serif;
}


input[type="text"], input[type="number"], textarea {
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    font-size: 16px;
    box-sizing: border-box;
}

button[type="submit"] {
    border-radius: 12px;
    padding: 10px 20px;
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #61c6e4;
    color: white;
    border-color: #7bcde6;
}

input[type="checkbox"] {
    accent-color: #61c5e3;
    color: white;
}